<!doctype html>
<html ng-app="DD5App">
	<head>
		<meta charset="utf-8">
		<title>DD5</title>
		<script src="angular.min.js"></script>
		<script src="DD5ng.js"></script>
	</head>
	<body ng-controller="CharacterController as character">
		<label>Name : </label><input type="text" ng-model="character.name" />
		<label>Race : </label><select ng-model="character.race" ng-options="race.name for race in ::races"></select>
		<label>Class : </label><select ng-model="character.class" ng-options="class.name for class in ::classes"></select>
		<label>Level : </label><input type="number" ng-model="character.level" />
		<span ng-show="character.level >= character.class.pathLevel">
			<label>{{character.class.pathName}} : </label>
			<select ng-model="character.pathName">
				<option ng-repeat="path in character.class.paths" key="{{path.name}}">{{path.name}}</option>
			</select>
		</span>
		<label>Background : </label><select ng-model="character.bg" ng-options="bg.name for bg in ::bgs"></select><br/>
		<label>Proficiency : </label><span>{{toModString(character.profMod)}}</span>
		<label>Speed : </label><span>{{character.race.speed}} feet</span>
		<label>Feat number : </label><span>{{character.featNumber}}</span><br/>

		<table>
			<tr>
				<td/>
				<td>Score</td>
				<td>Mod</td>
				<td>Saving throw</td>
			</tr>
			<tr ng-repeat="ability in ::abilityList">
				<td>{{::capitalizeFirstLetter(ability)}} {{character[ability + 'Bonus']}} : </td>
				<td><input type="number" ng-model="character[ability]" /></td>
				<td>{{toModString(character[ability + 'Mod'])}}</td>
				<td>{{toModString(character[ability + 'ST'])}}</td>
			</tr>
		</table>

		<label>Hit point max (average) : </label><span>{{character.hitPointMax}}</span><br/>
		<label>Hit dice : </label><span>{{character.level}}D{{character.class.hitDice}}</span>

		<table>
			<tr>
				<td>Trained{{character.skillNumber}}</td>
				<td>Mod</td>
			</tr>
			<tr ng-repeat="skill in ::skillList">
				<td><input type="checkbox" ng-model="character[skill + 'Trained']" ng-disabled="character[skill + 'Disabled']" /></td>
				<td>{{toModString(character[skill + 'Mod'])}}</td>
				<td>{{::title[skill]}}</td>
			</tr>
		</table>

		<label>Racial features :</label>
		<ul>
			<li ng-repeat="feature in character.race.features">{{feature}}</li>
		</ul>

		<label>Background feature : </label><span>{{character.bg.feature}}</span><br/>

		<label>Class features :</label>
		<table>
			<tr>
				<td>Level</td>
				<td>Name</td>
			</tr>
			<tr ng-repeat="feature in character.features | orderBy:'level'">
				<td>{{feature.level}}</td>
				<td>{{feature.name}}</td>
			</tr>
		</table>

		<div ng-show="character.spellSlots.length != 0">
			<label>Spell Slots :</label>
			<table>
				<tr>
					<td>1st</td>
					<td>2nd</td>
					<td>3rd</td>
					<td>4th</td>
					<td>5th</td>
					<td>6th</td>
					<td>7th</td>
					<td>8th</td>
					<td>9th</td>
				</tr>
				<tr>
					<td ng-repeat="slotNumber in character.spellSlots track by $index">{{slotNumber}}</td>
				</tr>
			</table>
		</div>

		<input type="button" value="Save" ng-click="character.save()" />
		<input type="button" value="Load" ng-click="character.load()" />
		<input type="button" value="Remove" ng-click="character.remove()" />
	</body>
</html>